body{
	font-family: "Helvetica Neue", Arial, Helvetica, Sans-Serif;
	font-size: 14px;
	line-height: 1.5;
	width: 790px;
	margin: 0 auto;
	background-image: url(../images/background.png);
	background: opacity 50%;
}

header{
	height: 100px;
	background-color: white;
	border-width: 3px;
	border-style: dashed;
	border-color: #666;
	padding: 10px
	overflow: hidden;
	padding-bottom: 10px;
	}
	
#nav{
	float: right;
	overflow: hidden;
	display: block;
}




#nav ul {
	width: 500px;
	margin: 0 auto;
	background: #666;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	
}

#nav li{
	width: 100px;
	background: silver;
	float: left;
	
	
}

.movie{
	background-color: white;
	padding: 10px;
	border-width: 3px;
	border-style: dashed;
	border-color: #666;
	margin-bottom: 10px

}






article{
	-moz-column-count: 3;
	-moz-column-gap: 25px;
	background-color: white;
	padding-top: 10px;
	border-width: 3px;
	border-style: dashed;
	border-color: #666;
	clear: bottom;
	padding: 20px;
}

#gallery{
	
	background-color: white;
	border: 3px dashed #666;
	overflow: hidden;
	padding-left: 10px;
	
}

#gallery ul{
	list-style-type: none;
	padding: 0;
}

#gallery li{
	
	float: left;
	padding: 20px;
	
	
}









footer{
	
	
}

	
	

