body{
	font-family: "Helvetica Neue", Arial, Helvetica, Sans-Serif;
	font-size: 14px;
	line-height: 1.5;
	width: 790px;
	margin: 0 auto;

	

}

.header{
	width: 790px;
	height: 600px;
	border-width: 3px;
	border-style: soild;
	border-color: #666;
	padding: 10px
	}
	
#nav{
	
}




#nav ul {
	width: 500px;
	margin: 0 auto;
	background: #666;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	
}

#nav li{
	width: 100px;
	background: silver;
	float: left;
	
}

.movie{
	padding: 10px;
	background-color: #999;
	border-width: 3px;
	border-style: dashed;
	border-color: #666;
	margin-bottom: 10px
}






article{
	-moz-column-count: 3;
	-moz-column-gap: 25px;
	padding: 10px;
	background-color: #999;
	border-width: 3px;
	border-style: dashed;
	border-color: #666;
}









footer{
	background: #666;
	
}

	
	

